@{
    ViewBag.Title = "About The Used Car Lot";
}
<h2>@ViewBag.Title</h2>


<p>Welcome to the Used Car Lot! Here we sell only the finest used car. Each vehicle goes through the most rigourous of tests including a "101" point inspection, and much, much more. We strive to ensure only the best quality cars...why else would we provide a 1 year bumper to bumper warranty free of charge with each vehicle? We even sell additonal warranties! We may not have made our product, but we stand behind our product!</p>
<p>Some of our cars come from customers we have been serving for more than a decade. They just keep coming back! See some of the reviews we have been given below. </p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="col-md-6" id="commentbox">
    <p><i>The response time on the email I sent was immediate. They answered all of my questions over email. They told me some information about the car, and I decided to go look at it. They described the car impeccably, and the car was even better than what I had orginally expected.</i></p>
    <p>

        <b>~Jo-Anne Vinnes</b>

    </p>
</div>

<div class="col-md-6" id="commentbox">

    <img src="~/Content/Review1.jpg" alt="Woman #1" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

<div class="col-md-6" id="commentbox">
    <p><i>We were looking for a killer minivan. We were driving down the street when we saw a sweet Harley at The Used Car Lot. In the end, we got the Harley, and a double side car for it for less than what we were looking to spend for a van. Sure, it's cold in the winter and hot in the summer, and when it rains we get wet. But have you ever went to a family drive in with a Harley? Didn't think so! We love this place, and when we get the money we will be back for a real minivan!</i></p>
    <p>

        <b>~The BIKER Family</b>

    </p>
</div>



<div class="col-md-6" id="commentbox">

    <img src="~/Content/Review2.jpg" alt="Biker Family" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>


<div class="col-md-6" id="commentbox">
    <p><i>What we really wanted was a Prius. Something economical and something that would save the enviornment. We love being Green! When we got there, the salesman told us that the Prius was no good. Instead, he pointed us to a turbo diesel Ford truck. I know, I was skeptical at first also. But when he explained to us that to tow our boat we would have to have a truck anyway (apparentlt a Prius can't tow a boat?) we decided that we would only use one vehicle! This is like saving the enviornment double because we only have one car, not two! We're EcoBoost friendly now!</i></p>
    <p>

        <b>~The Woodcock Family</b>

    </p>
</div>

<div class="col-md-6" id="commentbox">

    <img src="~/Content/Review3.jpg" alt="Biker Family" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>