@{
    ViewBag.Title = "Home Page";
}
<div class="header" id="header">

    <img src="~/Content/header1.JPG" alt="Dream Car" /><img src="~/Content/header1.JPG" alt="Dream Car" />

</div>

<div class="jumbotron">
    <h1>The Used Car  Lot</h1>
    <p class="lead">The Used Car Lot specializes in anything you could need to move you from point A to point B! From scooters and motorcycle to trucks, cars, and vans! We can get you there, in style, and kind of affordably! Our motto here is "Fast, Cheap, Reliable: Pick any two!"</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View our Inventory</h2>
        <p>
            At The Used Car Lot we have a wide range of vehicles, ranging from trucks and cars, to motorcycles and boats! Browse today and find the vehicle of your dreams.
        </p>
        <p><a class="btn btn-default" href="~/Cars/Index">Inventory Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Contact with us!</h2>
        <p>Don't see a vehicle you want? We can get it! Just visit out Contact page and drop us a line about what make, model and any additional features you want and we can get it in stock within 14 days!</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Us!</h2>
        <p>We're just a couple guys (and gals) who are looking to make the car buying experiance easier and faster for the person who doesn't like shopping for cars. Lean more about us by clicking on the link below!</p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>

<div class="footer" id="footer">

    <img src="~/Content/header.jpg" alt="Dashboard" /><img src="~/Content/header.jpg" alt="Dashboard" />

</div>
