
@{
    ViewBag.Title = "Fuel";
}



<h2>Fuel</h2>





<html>
<body>

    <script>
        if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp = new XMLHttpRequest();
        }
        else {// code for IE6, IE5
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
       
        //xmlhttp.open('GET',, false);
        //xmlhttp.send();
        //xmlDoc = xmlhttp.responseXML;

        xmldoc.load(server.mappath("~/Content/vehicle.xml"));

        document.write("<table border='1'>");
        var x = xmlDoc.getElementsByTagName("vehicle");
        for (i = 0; i < x.length; i++) {
            document.write("<tr><td>");
            document.write(x[i].getElementsByTagName("make")[0].childNodes[0].nodeValue);
            document.write("</td><td>");
            document.write(x[i].getElementsByTagName("model")[0].childNodes[0].nodeValue);
            document.write("</td><td>");
            document.write(x[i].getElementsByTagName("UCity")[0].childNodes[0].nodeValue);
            document.write("</td></tr>");
        }
        document.write("</table>");
    </script>

    <input type="text">

</body>
</html>
